body{
  background-color: #22254b;
}

.app-container{
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container{
  width: 250px;
  margin: 16px;
  background-color: #373b69;
  color :white; /*글자색*/
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

.movie-container img{
  max-width: 100%;
}

.movie-info{
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

}

.movie-info h4{
  margin:0;
}

.movie-info span{
  margin-left: 3px;
}
.movie-over {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: #22254b;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
}

/* hover 추가 */
.movie:hover {
  transform: translateY(10%);
}
